# Import Librery and load Data

In [2]:
import pandas as pd
df = pd.read_excel('Fooddata(1).xlsx')
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

# Replace catg to numr

In [3]:
df['gender'] =df['gender'].replace('Male',1)
df['gender'] =df['gender'].replace('Female',0)
df.head()

   age   height  weight  gender likeness
0   27  170.688    76.0       1  Biryani
1   41  165.000    70.0       1  Biryani
2   29  171.000    80.0       1  Biryani
3   27  173.000   102.0       1  Biryani
4   29  164.000    67.0       1  Biryani

In [5]:
x = df[['age','weight','gender']]
y = df['likeness']

# Apply ML Algorithm

In [9]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=5).fit(x, y)
model.predict([[25,100,0]])

c:\Users\Ammar Ak\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

In [8]:
model.score(x, y)

0.7061224489795919

# Check Accuracy

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
x_train,x_test,y_train,y_test =train_test_split(x, y,test_size=0.2)
model=KNeighborsClassifier(n_neighbors=7)
model.fit(x_train, y_train)
prediction =model.predict(x_test)
prediction

score = accuracy_score(y_test, prediction)
print("Accuracy Score of Model is:",score)

Accuracy Score of Model is: 0.673469387755102